{% extends "base.html" %}

{% block content %}
<div class="container-fluid py-5 mb-5">
    <div class="form-wrapper pt-5">
        <h1 class="mb-5">Авторизация</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="form-text text-danger">{{ field.errors }}</div>
                    {% else %}
                        <div class="form-text">{{ field.help_text }}</div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="row align-items-center pt-3">
                <div class="col">
                    <button type="submit" class="btn btn-light">Войти</button>
                </div>
                <div class="col d-flex  justify-content-end">
                    <p class=" m-0">
                        Нет аккаунта? <a href="{% url 'registration' %}">Зарегистрироваться</a>
                    </p>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}